/* src/App.css */
#root main > section {
  box-sizing: border-box;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6rem 2rem; /* A little more padding can look nice */

  min-height: 40vh; 
}

@media (max-width: 768px) {
  /* Reduce padding on all sections for mobile */
  #root main > section {
    padding: 4rem 1rem;
  }
}